html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  background: #f9f7f4;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: Roboto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
input {
  border-color: none;
}
header {
  /* background: url(./img/header.jpg) center/cover no-repeat; */
  background: url(./img/header.jpg) center / 100% auto no-repeat,
    lightgray 50% / cover no-repeat;
  height: 52rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.scroll__header {
  /* max-width: 1920px; */
  width: 100%;
  height: 88px;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
  position: fixed;
  display: none;
  z-index: 100;
  transition: top 0.3s ease;
  margin: 0 auto;
}

.scroll__header a {
  color: #1b1f2b;
  text-decoration: none;
  transition: border-bottom 0.3s linear;
  line-height: 142%;
}
.nav__link,
.numb {
  border-bottom: 1px solid transparent;
}
.scroll__header .nav__link:hover {
  cursor: pointer;
  border-bottom: 1px solid #1b1f2b;
}
.noscroll .nav__link:hover {
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
}
.header__inner {
  max-width: 1168px;
  width: 100%;
  height: auto;
  margin: 30px auto;
  margin-top: -0.88px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 0.3s ease;
}

.intro {
  width: 1920px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.noscroll .nav__link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s linear;
  line-height: 142%;
}
.navlink-item {
  display: none;
}
.navlink-item.active {
  display: block;
}
.header__nav {
  display: flex;
  gap: 50px;
  font-size: 17px;
}

.header__logo {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.intro__inner p {
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #fff;

  text-align: center;
  position: relative;
  margin: 50px 0;
  z-index: 1;
}

.button {
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 20px;
  gap: 10px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  flex: none;
  order: 2;
  flex-grow: 0;

  color: #333;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;

  letter-spacing: -0.01em;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: #efa501;
  color: #ffffff;
}

.button:active {
  background: #f8e6be;
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 109px;
}

.intro__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 768px;
  height: 315px;
}

.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding-top: 135px;
  max-width: 100%;
  width: 1920px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.header__main {
  max-width: 1170px;
  margin: 0 auto;
}

.main__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;

  text-align: center;

  color: #1b1f2b;
}

.tabs__main {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 35px;

  margin-bottom: 106px;
}

.main__link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;

  color: #1b1f2b;

  color: #1b1f2b;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.main__link.active {
  line-height: 122%;
  border-bottom: 2px #efa501 solid;
  color: #efa501;
}

.main__link:hover {
  border-bottom: 2px #1b1f2b solid;
}

.main__link.active:hover {
  border-bottom: 2px #efa501 solid;
}

.popular__block {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1170px;
}
.firstPic {
  width: 100%;
  height: 531px;
  background-size: 100%;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  background-size: cover;
}
.popular__item {
  width: 100%;
  height: 531px;

  background-size: cover;
  background-position: center;
  width: 100%;
  height: 531px;
  border-radius: 50px;
  background-image: url("./img/popular/1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-size 0.3s ease;
  transform-origin: center center;
  cursor: pointer;
}

.firstPic {
  background-image: url("./img/popular/1.jpg");
}

.secPic {
  background-image: url("./img/popular/2.jpg");
}

.thirdPic {
  background-image: url("./img/popular/3.jpg");
}

.fourthPic {
  background-image: url("./img/popular/4.jpg");
}

.fivesPic {
  background-image: url("./img/popular/5.jpg");
}

.sixPic {
  background-image: url("./img/popular/6.jpg");
}

.popular__back {
  box-sizing: border-box;
  padding: 50px;
  padding-bottom: 40px;
  border-radius: 50px;
  position: inherit;
  width: 100%;

  height: 531px;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular__item:hover {
  background-size: 120% auto;
}
.item__title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.item__title p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;

  color: #ffffff;
  margin: 0;
}

.item__title span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;

  letter-spacing: -0.01em;

  color: #ffffff;
}

.item__btn {
  width: 120px;
  height: 28px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;

  color: #ffffff;
}

.item__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  width: 199px;
  height: 42px;
}

.popular__item:hover .item__btn,
.story__back:hover .item__btn {
  background: #286562;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  overflow: visible;
  padding-left: 30px;
  margin-left: -30px;
  transition: background 0.1s ease;
}

.popular__item:hover .item__btn::before,
.story__back:hover .item__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: #286562;
  border-radius: 50px 0 0 50px;
}

.popular__item:active .item__btn,
.story__back:active .item__btn {
  background: #efa501;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  overflow: visible;
  padding-left: 30px;
  margin-left: -30px;
}
.popular__item:active .item__btn::before,
.story__back:active .item__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: #efa501;
  border-radius: 50px 0 0 50px;
}

.main__form {
  padding-top: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
}

.group__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.group__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;

  text-align: center;

  color: #a6a6a6;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px;
  gap: 33px;
  max-width: 1170px;
  max-height: 986px;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  margin-top: 100px;
  width: 100%;
}

.form__block {
  display: flex;
  gap: 30px;
  width: 100%;
}

.lab_inp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.arrow-select {
  position: relative;
}
.arrow-select::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url(./img/form_input.svg);
  background-repeat: no-repeat;
  background-position: center;
  bottom: 20px;
  width: 26px;
  height: 26px;
  z-index: 100;
  right: 20px;
}

select {
  appearance: none;
  cursor: pointer;
}

.lab_inp label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;

  color: #1b1f2b;
}

.lab_inp input,
.lab_inp select,
.lab_inp textarea {
  padding: 20px;
  gap: 10px;
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 68px;
  background: rgb(249, 247, 244);
  border: 1px solid rgb(244, 240, 233);
  border-radius: 10px;
  color: rgb(27, 31, 43);
  transition: background 0.2s ease 0s;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
}
select option,
select {
  color: #a6a6a6;
}
select,
option:checked {
  color: rgba(27, 31, 43, 1);
}

.lab_inp input:hover,
.lab_inp select:hover,
.lab_inp textarea:hover,
.lab_inp textarea:focus,
.lab_inp input:focus,
.lab_inp select:focus {
  background: #f4f0e9;
}
.lab_inp input:focus,
.lab_inp input:active,
.lab_inp textarea:focus,
.lab_inp textarea:active,
.lab_inp select:focus,
.lab_inp select:active {
  outline: 1px solid var(--Gray-300, #a6a6a6);
  border: 1px solid var(--Gray-300, #a6a6a6);
}
.comment textarea {
  width: 1030px;
  height: 152px;
  background: #f9f7f4;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  align-items: flex-start;
  color: rgba(27, 31, 43, 1);
  min-width: 100%;
  min-height: 152px;
}
.lab_inp input:hover {
  border-radius: 10px;
}
input[type="date"]::placeholder {
  color: rgba(166, 166, 166, 1);
}
.sign {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.sign input {
  width: 26px;
  height: 26px;
  background: #1b1f2b;
}

.sign h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;

  color: #1b1f2b;
}

.sign__btn {
  display: flex;
  gap: 31px;
  margin-top: 10px;
}

.btn__yeas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.btn__yeas input {
  display: none;
}

.fake__radio {
  display: block;
  width: 26px;
  height: 26px;
  background: #ffffff;
  border-radius: 50%;

  outline: solid 2px #1b1f2b;
  cursor: pointer;
  position: relative;
}

.fake__radio::before {
  content: "";
  display: block;

  width: 14px;
  height: 14px;
  background-color: #1b1f2b;
  border-radius: 50%;
  position: absolute;
  top: 23%;
  left: 23%;
  opacity: 0;
}

.radio1:checked + .fake__radio::before {
  opacity: 1;
}

.radio2:checked + .fake__radio::before {
  opacity: 1;
}

.NoRadio1,
.YesRadio1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;

  color: #1b1f2b;
  cursor: pointer;
}

.accept {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
}

.accept label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;

  letter-spacing: -0.01em;

  color: #a6a6a6;
}

label span a {
  color: #1b1f2b;
}

label span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.accept input {
  display: none;
}

.fake__check {
  width: 26px;
  height: 26px;
  border: 2px #1b1f2b solid;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.fake__check::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-image: url("./img/form_chek.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.2s;
}

.checkbox:checked + .fake__check::before {
  opacity: 1;
}

.twoBtn {
  display: flex;
  gap: 30px;
}

.twoBtn input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  border: none;

  width: 235px;
  height: 58px;

  background: #286562;
  border-radius: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;

  border-color: none;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.2s ease;
}

.twoBtn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;

  width: 235px;
  height: 58px;

  background: #e0f0e5;
  border-radius: 10px;

  border: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;

  color: #286562;

  cursor: pointer;
  transition: background 0.2s ease;
}

.twoBtn button:hover {
  background: #f1f3f2;
}

.twoBtn button:active {
  background: #d9dfdb;
}

.twoBtn input:hover {
  background: #3b7e7b;
}

.twoBtn input:active {
  background: #627f7e;
}

.card__reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;
  margin-top: 100px;
}
.card__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;

  width: 570px;
  height: 673px;

  background: #f4f0e9;
  border-radius: 50px;
}

.card__item p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;

  color: #1b1f2b;
  margin: 0;
}

.avtor {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.avtor img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}

.avtor__description h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;

  color: #1b1f2b;
  margin-bottom: 10px;
}

.avtor__description span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;

  letter-spacing: -0.01em;

  color: #a6a6a6;
}

.gallery__travel {
  padding-top: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery__travel .group__title {
  margin-bottom: 100px;
}

.img__line {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.img__line:last-child {
  margin: 0;
}

.picItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.secondLine {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.firstLine .picItem {
  width: 442.5px;
  max-width: 100%;
  height: 301px;
  overflow: hidden;
}
.thirdLine .picItem {
  max-width: 442.5px;
  width: 100%;
  height: 301px;
  overflow: hidden;
}
.secondLine .picItem {
  width: 347.16px;
  max-width: 100%;
  height: 301px;
  overflow: hidden;
}

.travel__stories {
  padding-top: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.travel__stories .group__title {
  margin-bottom: 100px;
}

.block__story {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1170px;
  height: 567px;
  border-radius: 50px;
  gap: 37px;
  background: url("./img/story_photo/1.jpg") center no-repeat;
  background-size: 100%;
  margin-bottom: 50px;
  cursor: pointer;
  transition: background-size 0.3s ease;
  max-width: 100%;
}

.block__story:last-child {
  margin: 0;
}
.block__story:hover {
  background-size: 120% auto;
}
.story__back {
  box-sizing: border-box;
  padding: 50px;
  border-radius: 50px;
  position: inherit;
  width: 1170px;
  height: 567px;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.2) 100%
  );
  cursor: pointer;
  max-width: 100%;
}
.story__desc h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;

  color: #ffffff;

  margin-bottom: 37px;
}

.story__desc p,
li {
  width: 554px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;

  color: #ffffff;
}

.story__btn {
  display: flex;
  justify-content: space-between;
}

.story__back:hover .item__btn {
  background: #286562;
  border-radius: 50px;
}

.story__back:active .item__btn {
  background: #efa501;
  border-radius: 50px;
}

.social__media {
  display: flex;
  gap: 35px;
}

.social__media a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;

  color: #ffffff;
  cursor: pointer;
}

.social__media a:hover {
  text-decoration: underline;
}

.social__media a:active {
  color: #efa501;
  text-decoration: underline;
}

#story_2 {
  background-image: url("./img/story_photo/2.jpg");
}

#story_3 {
  background-image: url("./img/story_photo/3.jpg");
}

.last__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
  max-width: 771px;
  height: 370px;
  margin: 135px auto;
}

.last__main img {
  width: 370px;
  height: 370px;

  border-radius: 50px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: auto;
}

.details h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;

  color: #1b1f2b;
}

.details p {
  color: var(--Gray-300, #a6a6a6);
  /* p-normal */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
}
.details span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  margin-right: 15%;
  color: #a6a6a6;
}

.details span a {
  color: var(--Black, #1b1f2b);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
}

.details span a:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  /* min-width: 1920px; */
  width: 100%;
  height: 88px;
  max-width: 100%;
  background: #f4f0e9;
  margin: 0 auto;
}

.block__footer {
  display: flex;
  gap: 25px;
}

.nav__social {
  display: flex;
  gap: 12px;
  transition: border-bottom 0.3s ease;
}
.block__footer .nav__social {
  gap: 10px;
}

.nav__social svg {
  width: 26px;
  height: 26px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 1168px;
  height: 28px;
}

footer h3 {
  font-family: "Roboto";

  color: var(--Gray-300, #a6a6a6);
  /* p-normal */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
}

.nav__social span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  border-bottom: 1px solid transparent;
  color: #1b1f2b;
}

footer span:hover {
  border-bottom: 1px solid #1b1f2b;
}
span a:active {
  color: var(--Green-400, #286562);
}
.lab_inp input:active,
.lab_inp select:active {
  border-color: #a6a6a6;
  background: #f4f0e9;
}

#ture2 {
  padding-bottom: 0;
}
#reviews {
  padding-top: 135px;
}
@media (max-width: 1860px) {
  .firstLine .picItem {
    width: 400px;
    height: 301px;
    border-radius: 50px;
  }
  .secondLine .picItem {
    width: 314px;
    height: 301px;
    border-radius: 50px;
  }

  .thirdLine .picItem {
    width: 400px;
    height: 301px;

    border-radius: 50px;
  }
}

@media (max-width: 1700px) {
  .firstLine .picItem:nth-child(2),
  .secondLine .picItem:nth-child(3),
  .thirdLine .picItem:nth-child(4) {
    display: none;
  }
  .secondLine .picItem {
    width: 290px;
    height: 301px;
  }
}
@media (max-width: 1360px) {
  .firstLine .picItem,
  .thirdLine .picItem {
    width: 314.5px;
    height: 301px;
  }
  .secondLine .picItem {
    width: 231px;
    height: 301px;
  }
}
@media (max-width: 1000px) {
  .firstLine .picItem:nth-child(2),
  .firstLine .picItem:nth-child(3),
  .secondLine .picItem:nth-child(2),
  .secondLine .picItem:nth-child(3),
  .thirdLine .picItem:nth-child(4),
  .thirdLine .picItem:nth-child(3) {
    display: none;
  }
  .firstLine .picItem,
  .thirdLine .picItem {
    width: 350.5px;
    height: 301px;
  }
  .secondLine .picItem {
    width: 228px;
    height: 301px;
  }
  .header__logo {
    font-size: 30px;
  }
}
@media (max-width: 1920px) {
  header {
    background: url(./img/header.jpg) center/cover no-repeat;

    height: 52rem;
    width: 150rem;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  #pic8 img {
    content: url("./img/travel_photo/mashina1024.png");
  }
  #pic3 img {
    content: url("./img/travel_photo/chel.png");
  }
  #pic9 img {
    content: url("./img/travel_photo/gorod21024.png");
  }
  .intro__inner p br {
    display: none;
  }
  header {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 39.9%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      url("./img/header1024.png") center / 122% auto no-repeat,
      lightgray 50% / cover no-repeat;
  }

  .intro__inner p {
    max-width: 442px;
    width: 100%;
  }
  .header__inner {
    max-width: 910px;
    margin: 28.88px auto;
    margin-top: -0.88px;
  }
  .intro {
    width: 1024px;
  }
  main {
    width: 1024px;
  }
  .header__main {
    width: 914px;
  }
  .popular__block {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 914px;
  }
  .popular__item {
    width: 450px;
  }
  .popular__back {
    width: 450px;
  }
  form {
    width: 918px;
    height: 966px;
    padding: 60px;
  }
  .lab_inp input,
  select {
    width: 389px;
    height: 68px;
  }
  .comment input {
    width: 798px;
    height: 152px;
  }
  .card__reviews {
    gap: 18px;
  }
  .card__item {
    padding: 40px;
    width: 450px;
    height: 841px;
  }
  .img__line {
    gap: 20px;
  }
  .block__story {
    width: 918px;
    height: 567px;
    background-size: cover;
  }
  .story__back {
    width: 918px;
    height: 567px;
  }
  footer {
    width: 1024px;
  }
  .footer__content {
    width: 918px;
    height: 28px;
  }
  .details p,
  span {
    font-size: 17px;
  }
}
@media (max-width: 1022px) {
  header {
    background: url(./img/header.jpg) center/cover no-repeat;
    height: 52rem;
    width: 150em;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 850px) {
  .card__item p {
    font-size: 18px;
  }
  .avtor__description h1 {
    font-size: 24px;
  }
  .avtor img {
    width: 50px;
    height: 50px;
  }

  .footer__content {
    gap: 0;
  }
}
@media (max-width: 950px) {
  .header__inner {
    max-width: 800px;
    width: 100%;
    margin: 28.88px auto;
    margin-top: -0.88px;
  }
  .tabs__main {
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100vw;
    gap: 10px;
    padding: 0 51.5px;
    margin: 30px auto;
  }
  .header__nav {
    display: none;
  }
  .header__main {
    width: 500px;
  }
  .main__link {
    font-size: 18px;
  }
  .tabs__main {
    width: 100%;
  }
  .popular__block {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(1, 1fr);
    max-width: 318px;
  }
  .popular__item {
    width: 518px;
    height: 518px;
    border-radius: 20px;
  }
  .popular__back {
    width: 518px;
    height: 518px;
    padding: 25px;
    border-radius: 20px;
  }
  .item__title p {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
  }
  .group__title {
    font-size: 24px;
  }
  form {
    width: 100%;
    max-height: none;
    height: 100%;
  }
  .form__block {
    flex-direction: column;
    align-items: center;
  }
  .lab_inp {
    width: 100%;
  }
  .lab_inp input,
  select {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .scroll__header a {
    margin-right: 10px;
    margin-left: 10px;
  }
  .header__logo a {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 750px) {
  .picItem img {
    border-radius: 20px;
  }
  .firstLine .picItem {
    width: 250px;
    height: 210px;
  }
  .firstLine {
    gap: 18px;
  }
  .thirdLine,
  .secondLine {
    gap: 10px;
  }
  .thirdLine .picItem {
    width: 254px;
    height: 210px;
  }
  .secondLine .picItem {
    width: 165px;
    height: 210px;
  }
  .secondLine .picItem {
    border-radius: 40px;
  }
}
@media (max-width: 615px) {
  .story__desc h3 {
    margin-bottom: 20px;
    font-size: 23px;
    margin-right: 110px;
  }
  .story__desc p,
  li {
    font-size: 20px;
    width: auto;
  }
  .item__btn {
    padding: 0%;
    font-size: 20px;
  }
  .social__media {
    display: none;
  }
  .last__main img {
    width: 130px;
    height: 133px;
    border-radius: 20px;
  }
  .last__main {
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 0px 30px;
    margin-top: 75px;
    margin-bottom: 75px;
  }
}
@media (max-width: 660px) {
  .intro__title {
    font-size: 55px;
    width: 100%;
    height: 100%;
  }
  .main__title {
    font-size: 40px;
  }
  .header__main {
    width: 400px;
  }
  .main__link {
    font-size: 18px;
  }
  .tabs__main {
    width: 100%;
  }
  .popular__block {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(1, 1fr);
    max-width: 318px;
  }
  .popular__item {
    width: 418px;
    height: 418px;
    border-radius: 20px;
  }
  .popular__back {
    width: 418px;
    height: 418px;
    padding: 25px;
    border-radius: 20px;
  }
  .item__title p {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
  }
  .group__title {
    font-size: 24px;
  }
  .twoBtn {
    gap: 10px;
  }
  .twoBtn input {
    width: 134px;
    height: 47px;
    padding: 0;
    font-size: 16px;
  }

  .twoBtn button {
    font-size: 16px;
    width: 134px;
    height: 47px;
  }
  .comment input {
    width: 278px;
    height: 132px;
  }
  .card__reviews {
    flex-direction: column;
  }
  .card__item {
    height: 100%;
    width: 100%;
  }

  .firstLine .picItem {
    width: 200px;
    height: 160px;
    border-radius: 20px;
  }
  .firstLine {
    gap: 18px;
  }
  .thirdLine,
  .secondLine {
    gap: 10px;
  }
  .thirdLine .picItem {
    width: 200px;
    height: 160px;
    border-radius: 20px;
  }
  .secondLine .picItem {
    width: 130px;
    height: 159px;
    border-radius: 20px;
  }
  .footer__content {
    width: 318px;
    height: 28px;
    flex-direction: column;
    gap: 0;
  }
  footer a {
    font-size: 16px;
  }
  .nav__social {
    gap: 5px;
  }
  footer h3 {
    font-size: 16px;
  }
}
@media (max-width: 460px) {
  .header__main {
    width: 350px;
  }
  .popular__block {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(1, 1fr);
    max-width: 350px;
  }
  .popular__item {
    width: 350px;
    height: 350px;
    border-radius: 20px;
  }
  .popular__back {
    width: 350px;
    height: 350px;
    padding: 25px;
    border-radius: 20px;
  }
  .nav__social svg {
    width: 22px;
    height: 22px;
  }
  .nav__social span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    /* or 28px */

    /* Black */

    color: #1b1f2b;
  }
  .block__footer .nav__social {
    gap: 5px;
  }
  .block__footer {
    gap: 15px;
  }
  .firstLine .picItem {
    width: 150px;
    height: 110px;
    border-radius: 20px;
  }
  .firstLine {
    gap: 18px;
  }
  .thirdLine,
  .secondLine {
    gap: 10px;
  }
  .thirdLine .picItem {
    width: 154px;
    height: 110px;
    border-radius: 20px;
  }
  .secondLine .picItem {
    width: 99px;
    height: 110px;
    border-radius: 20px;
  }
}
@media (max-width: 360px) {
  header {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 39.9%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      url(./img/header1024.png) center / 220% auto no-repeat,
      lightgray 50% / cover no-repeat;
  }

  .scroll__header a {
    margin-left: 0px;
    margin-right: 0px;
  }
  .tabs__main {
    padding: 0%;
  }
  .header__inner {
    max-width: 318px;
    margin: 20px;
    margin-top: -0.88px;
  }
  header {
    width: 360px;
    height: 530px;
  }

  .intro {
    width: 360px;
  }
  main {
    width: 360px;
    padding-top: 0;
    margin-top: 75px;
  }
  .tabs__main {
    margin-top: 35px;
    margin-bottom: 50px;
  }
  .main__form {
    padding-top: 75px;
  }
  #ture2 p br {
    display: block;
  }
  #reviews {
    padding-top: 75px;
  }
  .header__main {
    width: 318px;
  }
  .main__title {
    font-size: 34px;
    width: 318px;
  }
  .group__title p {
    width: 318px;
  }
  .tabs__main {
    flex-wrap: wrap;
  }
  .main__link {
    font-size: 16px;
  }
  .header__logo {
    font-size: 28px;
  }
  .header__nav {
    display: none;
  }
  .container {
    padding-top: 84px;
  }
  .intro__title {
    font-size: 34px;
    width: auto;
    height: auto;
  }
  .intro__inner p br {
    display: none;
  }
  .group__title p br {
    display: none;
  }
  .travel__stories .group__title {
    margin-bottom: 50px;
  }
  .intro__inner p {
    font-size: 16px;
    max-width: 310px;
    width: 100%;
  }

  .popular__block {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(1, 1fr);
    max-width: 318px;
  }
  .popular__item {
    width: 318px;
    height: 318px;
    border-radius: 20px;
  }
  .popular__back {
    width: 318px;
    height: 318px;
    padding: 25px;
    border-radius: 20px;
  }
  .item__title p {
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
  }
  .group__title {
    font-size: 16px;
  }
  form {
    width: 318px;
    height: auto;
    padding: 20px;
    padding-bottom: 40px;
    gap: 30px;
    margin-top: 40px;
    border-radius: 30px;
  }
  .lab_inp label {
    font-size: 16px;
  }

  .form__block {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .lab_inp input,
  .lab_inp select,
  .lab_inp textarea {
    width: 278px;
    height: 43px;
    font-size: 16px;
    padding: 10px;
  }
  .comment input {
    width: 278px;
    height: 132px;
  }
  .sign {
    gap: 30px;
  }
  .sign h3,
  .btn__yeas p,
  .accept label,
  label span {
    font-size: 16px;
  }
  .label__text {
    width: 248px;
  }
  .sign__btn {
    gap: 30px;
  }
  .accept {
    gap: 10px;
    justify-content: normal;
    align-items: normal;
    margin-bottom: 0px;
  }
  .accept lable {
    height: 69px;
    width: 248px;
  }
  /* .label__text {
    width: 240px;
  } */
  .fake__check,
  .fake__radio {
    width: 20px;
    height: 20px;
  }
  .twoBtn {
    gap: 10px;
  }
  .twoBtn input {
    width: 134px;
    height: 47px;
    padding: 0;
    font-size: 16px;
  }

  .twoBtn button {
    font-size: 16px;
    width: 134px;
    height: 47px;
  }
  .card__reviews {
    gap: 18px;
    flex-direction: column;
    margin-top: 50px;
  }
  .gallery__travel,
  .travel__stories {
    padding-top: 75px;
  }
  .card__item {
    padding: 20px;
    width: 318px;
    height: auto;
    justify-content: normal;
    gap: 40px;
    border-radius: 20px;
  }
  .card__item p {
    font-size: 16px;
  }
  .avtor__description h1 {
    font-size: 23px;
  }
  .avtor__description span {
    font-size: 16px;
  }

  .img__line {
    gap: 18px;
    margin-bottom: 18px;
  }
  .firstLine .picItem:nth-child(2),
  .firstLine .picItem:nth-child(3),
  .secondLine .picItem:nth-child(2),
  .secondLine .picItem:nth-child(3),
  .thirdLine .picItem:nth-child(4),
  .thirdLine .picItem:nth-child(3) {
    display: none;
  }
  .firstLine .picItem {
    width: 150px;
    height: 110px;
    border-radius: 20px;
  }
  .firstLine {
    gap: 18px;
  }
  .thirdLine,
  .secondLine {
    gap: 10px;
  }
  .thirdLine .picItem {
    width: 154px;
    height: 110px;
    border-radius: 20px;
  }
  .secondLine .picItem {
    width: 99px;
    height: 110px;
    border-radius: 20px;
  }
  .block__story {
    width: 318px;
    height: 455px;
    background-size: cover;
  }
  .story__back {
    width: 318px;
    height: 455px;
    padding: 30px;
  }
  .story__desc h3 {
    margin-bottom: 20px;
    font-size: 23px;
    margin-right: 110px;
  }
  .story__desc p,
  li {
    font-size: 16px;
    width: auto;
  }
  .item__btn {
    padding: 0%;
    font-size: 16px;
  }
  .social__media {
    display: none;
  }

  .last__main img {
    width: 130px;
    height: 133px;
    border-radius: 20px;
  }
  .last__main {
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 0px 30px;
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .details {
    text-align: center;
  }
  .details h1 {
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .details p,
  span {
    font-size: 16px;
  }
  .details span {
    margin: 0;
  }
  footer {
    width: 360px;
    padding: 21px;
  }
  .footer__content {
    width: 318px;
    height: 53px;
    flex-direction: column;
    gap: 7px;
  }
  footer a {
    font-size: 16px;
  }
  .nav__social {
    gap: 5px;
  }
  footer h3 {
    font-size: 16px;
  }

  .gallery__travel .group__title {
    margin-bottom: 50px;
  }
  .popular__item:hover .item__btn,
  .story__back:hover .item__btn {
    margin-left: -10px;
  }
  .arrow-select::before {
    bottom: 9px;
  }
  .fake__radio::before {
    top: 3px;
    left: 3px;
  }

  .nav__social svg {
    width: 22px;
    height: 22px;
  }
  .nav__social span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    /* or 28px */

    /* Black */

    color: #1b1f2b;
  }
  .block__footer .nav__social {
    gap: 5px;
  }
  .block__footer {
    gap: 15px;
  }
}

@media (max-width: 359px) {
  header {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 39.9%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      url(./img/header1024.png) center / 290% auto no-repeat,
      lightgray 50% / cover no-repeat;
  }
  .header__logo {
    font-size: 20px;
  }
  .header__inner {
    max-width: 87%;
    margin: 28.88px;
    margin-top: -0.88px;
    /* gap: 40px; */
    width: 100%;
  }
  .arrow-select::before {
    width: 20px;
    height: 20px;
    bottom: 20%;
  }
  .main__title {
    font-size: 28px;
  }
  .popular__back {
    width: 100%;
    height: 290px;
    padding: 25px;
    border-radius: 20px;
  }
  .popular__item {
    width: 85%;
    height: 290px;
    border-radius: 20px;
    margin: 0 auto;
  }
  .firstLine .picItem,
  .thirdLine .picItem,
  .secondLine .picItem {
    width: 110px;
    height: 110px;
    border-radius: 20px;
  }

  .secondLine .picItem:nth-child(1) {
    display: none;
  }
  .block__footer {
    gap: 1px;
  }
  .story__desc p,
  li {
    font-size: 14px;
    width: auto;
  }
  .card__item {
    padding: 20px;
    width: 290px;
    height: auto;
    justify-content: normal;
    gap: 40px;
    border-radius: 20px;
  }
  form {
    width: 93%;
    height: auto;
    padding: 20px;
    padding-bottom: 40px;
    gap: 30px;
    margin-top: 40px;
    border-radius: 30px;
  }
  .twoBtn input {
    width: 40%;
    height: 47px;
    padding: 0;
    font-size: 16px;
  }
  .twoBtn button {
    font-size: 16px;
    width: 40%;
    height: 47px;
  }
  footer h3 {
    font-size: 14px;
  }
  .nav__social svg {
    width: 18px;
    height: 18px;
  }
  .main__title {
    font-size: 20px;
  }
  .group__title {
    font-size: 14px;
  }
  .group__title p {
    width: 290px;
  }
  .nav__social span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142%;
    color: #1b1f2b;
  }
  .footer__content {
    width: 220px;
    height: 38px;
    flex-direction: column;
    gap: 3px;
  }
}
